<!-- navbar -->
<div class="row">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand text-dark" href="#"
        ><span class="display-6 text-primary">Expense </span>tracker</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="collapse navbar-collapse justify-content-end"
        id="navbarNav"
      ></div>
    </div>
  </nav>
</div>
<!-- end navbar -->
<div
  class="bar"
  style="
    height: 1rem;
    background: linear-gradient(
      to right,
      hsl(215, 91%, 69%),
      rgb(60, 136, 243)
    );
    border-radius: 1rem;
  "
></div>
<!-- signup form  -->
<div
  class="main container"
  id="signupform"
  style="display: flex; justify-content: center; align-items: center"
>
  <div class="signup-form" id="signup-form">
    <h1 class="display-3 text-center p-2 text-primary">Sign Up</h1>
    <!-- templte driven from  -->
    <!-- #form="ngForm" -->
    <!-- (ngSubmit)="onSubmit(form)" -->
    <form
      name="userForm"
      #form="ngForm"
      autocomplete="off"
      (ngSubmit)="onSubmit(form)"
    >
    
      <!-- user id  -->
      <div class="form-group">
        <input
          type="hidden"
          name="userId"
          [(ngModel)]="usersService.formData.UserId"
          class="form-control"
        />
      </div>
      <!-- name  -->
      <div class="form-group">
        <label for="name">Name</label>
        <input
          type="text"
          name="name"
          [(ngModel)]="usersService.formData.Name"
          class="form-control"
          placeholder="Enter Name"
          minlength="3"
          required
          [ngClass]="{
            'is-invalid':
              form.controls.name.invalid && form.controls.name.touched
          }"
        />
        <div *ngIf="form.controls.name.invalid && form.controls.name.touched">
          <div *ngIf="form.controls.name.errors.required">Name is required</div>
          <div *ngIf="form.controls.name.errors.minlength">
            Name should be atleast 3 characters long
          </div>
        </div>
      </div>
      <!-- user contact -->
      <div class="form-group">
        <label for="userContact" class="text-dark">User Contact</label>
        <input
          type="number"
          name="userContact"
          [(ngModel)]="usersService.formData.Phone"
          class="form-control"
          id="userContact"
          placeholder="Enter User Contact"
          required
          minlength="10"
          maxlength="10"
          #name="ngModel"
        />
      </div>
      <!-- validations -->
      <div class="form-group">
        <div *ngIf="name.invalid && name.touched" class="text-danger">
          <div *ngIf="name.errors.required">User Contact is required</div>
        </div>
      </div>
      <!-- email  -->
      <div class="form-group">
        <label for="email">Email</label>

        <input
          type="email"
          name="email"
          [(ngModel)]="usersService.formData.Email"
          class="form-control"
          placeholder="Enter Email"
          minlength="3"
          required
          [ngClass]="{
            'is-invalid':
              form.controls.email.invalid && form.controls.email.touched
          }"
        />
        <div *ngIf="form.controls.email.invalid && form.controls.email.touched">
          <div *ngIf="form.controls.email.errors.required">
            Email is required
          </div>
          <div *ngIf="form.controls.email.errors.minlength">
            Email should be atleast 3 characters long
          </div>
        </div>
      </div>

      <!-- user name  -->
      <div class="form-group">
        <label for="username">Username</label>
        <label for="Name" class="text-white">User Name</label>
        <input
          type="text"
          name="Name"
          [(ngModel)]="usersService.formData.UserName"
          class="form-control"
          id="userName"
          placeholder="Enter User Name"
          required
          minlength="3"
          maxlength="50"
          #userName="ngModel"
        />
      </div>
      <!-- validations -->
      <div class="form-group my-1">
        <div *ngIf="userName.invalid && userName.touched" class="text-danger">
          <div *ngIf="userName.errors.required">User Name is required</div>
        </div>
      </div>

      <!-- user password  -->
      <div class="form-group">
        <label for="userPassword" class="text-dark">Password</label>
        <input
          type="password"
          name="userPassword"
          [(ngModel)]="usersService.formData.Password"
          class="form-control"
          id="userPassword"
          placeholder="Enter User Password"
          required
          minlength="8"
          maxlength="20"
          #password="ngModel"
        />
      </div>
      <!-- validations -->
      <div class="form-group">
        <div *ngIf="password.invalid && password.touched" class="text-danger">
          <div *ngIf="password.errors.required">User Password is required</div>
        </div>
      </div>

      <!-- submit  -->
      <div class="form-group my-3">
        <button
          type="submit"
          class="btn btn-primary form-control my-2"
          [disabled]="!(form.valid && form.dirty)"
        >
          SignUp
        </button>
      </div>
      
    </form>
  </div>
</div>
